<div class="container-fluid _defaultbody">
    <div class="row sidebar-container">
        <div class="col-xs-3 col-md-2 sidebar">
            <h2>Menu</h2>
            <ul class="sidebar-list">
                <li>
                    Visual Tools
                    <ul>
                        <li><a asp-action="navigateVisualTool">Navigate</a></li>
                        <li><a href="http://skyserver.sdss.org/dr14/en/tools/explore/obj.aspx">Explore</a></li>
                        <li><a href="http://skyserver.sdss.org/dr14/en/tools/quicklook/quickobj.aspx">Quick Look</a></li>
                        <li><a href="http://skyserver.sdss.org/dr14/en/tools/chart/list.aspx">Image List</a></li>
                        <li><a asp-action="findChartVisualTool">Finding Chart</a></li>
                    </ul>
                </li>
                <li><hr /></li>
                <li>
                    Search Tools
                    <ul>
                        <li><a asp-action="SQLSearchTool">SQL Search</a></li>
                        <li><a href="http://skyserver.sdss.org/dr14/en/tools/search/form/default.aspx">EZ Search</a></li>
                        <li><a asp-action="RectangularSearchTool">Rectangular Search</a></li>
                        <li><a asp-action="RadialSearchTool">Radial Search</a></li>
                        <li><a asp-action="ImagingQuerySearchTool">Imaging Query</a></li>
                        <li><a asp-action="SpectroQuerySearchTool">Spectra Query</a></li>
                        <li><a asp-action="InfraredSpectroSearchTool">IR Spectra Query</a></li>
                        <li><a asp-action="SkyQueryTool">SkyQuery client</a></li>
                    </ul>
                </li>
                <li><hr /></li>
                <li>
                    More Tools
                    <ul>
                        <li><a href="http://skyserver.sdss.org/dr14/en/tools/search/UserHistory.aspx">History</a></li>
                        <li><a href="http://skyserver.sdss.org/dr14/en/help/browser/browser.aspx">Schema Browser</a></li>
                        <li><a href="http://skyserver.sdss.org/dr1/en/tools/scroll/">Scrolling Sky</a></li>
                        <li><a href="">Get Images</a></li>
                        <li><a href="http://skyserver.sdss.org/dr14/en/tools/crossid/crossid.aspx">Cross-ID</a></li>
                    </ul>
                </li>
                <li><hr /></li>
                <li>
                    SciServer
                    <ul>
                        <li><a href="http://skyserver.sdss.org/CasJobs/">CasJobs</a></li>
                        <li><a href="http://compute.sciserver.org/dashboard/">Compute</a></li>
                        <li><a href="http://scidrive.org/scidrive/">SciDrive</a></li>
                        <li><a href="http://voservices.net/skyquery/Default.aspx">SkyQuery</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>