<footer class="navbar-fixed-bottom navbar-dark bg-blue text-semi-transparent">
    <div class="container main sci-footer">
        <div class="row">

            <div class="col my-1">
                <ul class="nav navbar-nav">
                    <li class="text-semi-transparent"><strong>Sponsored by:</strong></li>
                    <li><a class="navbar-link" href="https://sloan.org/">Alfred P. Sloan Foundation</a></li>
                    <li><a class="navbar-link" href="https://www.nsf.gov/">The National Science Foundation</a></li>
                </ul>
            </div>
            <div class="col-md-1 my-1 d-none d-md-block">
            </div>
            <div class="col my-1">
                <ul class="nav navbar-nav">
                    <li class="text-semi-transparent"><strong>Policies:</strong></li>
                    <li class="text-semi-transparent">Data Release: @ViewData["dataReleaseNumber"]</li>
                    <li class="text-semi-transparent">Version: 1.0</li>
                    <li>JHU Policies</li>
                </ul>
            </div>
            <div class="col my-1">
                <ul class="nav navbar-nav">
                    <li class="text-semi-transparent"><strong>Contact:</strong></li>
                    <li class="text-semi-transparent">email: <a class="navbar-link" href="#">sciserver-helpdesk@jhu.edu</a></li>
                    <li class="text-semi-transparent"><strong>Acknowledgements:</strong></li>
                    <li>SciServer</li>
                </ul>
            </div>
        </div>
    </div>
</footer>