<!--Bootstrap 4 starter template begin-->
<!doctype html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Bootstrap 4 starter template end-->
        <meta name="description" content="SciServer's SkyServer is for providing Sloan Digital Sky Survey (SDSS) data to the public" />
        <title>@ViewData["Title"] - SkyserverSDSS</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Rokkitt|Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <environment include="Development">
            @*TODO: compile all custom css files*@
            @RenderSection("Styles", false)
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/css/skyserver.css" />
        </environment>
    </head>
    <body>
        <@{
            Html.RenderPartial("_IndexNav");
        }
        <div class="container-fluid wrapper">
            <div class="row">
                <div class="col-auto d-none d-md-block bg-purple sidebar sidebar-sticky">
                    <ul class="nav flex-column">
                    </ul>
                </div>
                <div class="col main">
                    @RenderBody()
                </div>
            </div>
        </div>
        @{
            Html.RenderPartial("_Footer");
        }
        @RenderSection("Scripts", required: false)
        <environment include="Development">
            <!--Bootstrap 4 starter template begin-->
            <!-- jQuery first, then Popper.js, then Bootstrap JS  -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <!--Bootstrap 4 starter template end-->
            <script src="~/js/skyserver.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"
                    asp-fallback-src="~/lib/jquery-3.4.1.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap-4.3.1/dist/js/bootstrap.js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/skyserver.js"></script>
        </environment>
    </body>
</html>
