<nav class="navbar navbar-dark bg-blue text-semi-transparent">
    <span class="navbar-brand ml-1">
        <a target="_blank" href="http://www.sciserver.org/" class="">
            <img src="~/images/sciserverlogo.png"  width="200" alt="Sciserver logo" />
        </a>
    </span>
</nav>