<div class="search-bar">
    <form role="search" method="get" class="sitesearch form" asp-action="Search">
            <input type="search" class="rounded search-field form-control" style="background-color: rgba(255, 255, 255, 0.8);" placeholder="Search skyserver.sdss.org">
    </form>
</div>
