<div class="container-fluid outer-toolbar-container _toolbar">
    <div class="inner-toolbar-container container">
        <div class="btn-container-left"><button type="button" class="btn btn-primary btn-scroll btn-scroll-left"><span class="glyphicon glyphicon-arrow-left"></span></button></div>
        <div class="btn-container-right"><button type="button" class="btn btn-primary btn-scroll btn-scroll-right"><span class="glyphicon glyphicon-arrow-right"></span></button> </div>
        <div class="nav-wrapper">
            <ul class="nav nav-pills list">
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span><br /> Add</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-magnet"> </span><br />Get</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-globe"></span><br />World</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-floppy-save"> </span><br />Save</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span><br /> Add</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-magnet"> </span><br />Get</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-globe"></span><br />World</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-floppy-save"> </span><br />Save</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span><br /> Add</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-magnet"> </span><br />Get</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-globe"></span><br />World</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-floppy-save"> </span><br />Save</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-magnet"> </span><br />Get</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-globe"></span><br />World</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-floppy-save"> </span><br />Save</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span><br /> Add</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-magnet"> </span><br />Get</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-globe"></span><br />World</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-floppy-save"> </span><br />Save</a></li>
            </ul>
        </div>

    </div>
</div>