
@{
    Layout = "/Views/Shared/_CrossMatchToolsLayout.cshtml";
    ViewData["Title"] = "CrossMatch Tools";

}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/skyserver.css" />
}
<div class="main-text">
    <h1>@ViewData["Title"]</h1>
</div>
@section Scripts {
}