@{
    Layout = "/Views/Shared/_SupportLayout.cshtml";
    ViewData["Title"] = "Site Search";

}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/skyserver.css" />
}
<h1>@ViewData["Title"]</h1>
@{
    Html.RenderPartial("_SiteSearch");
}
@section Scripts {
}