@{
    ViewData["Title"] = "Styles";
    Layout = "~/Views/Shared/_SupportLayout.cshtml";
}
<h1>H1</h1>
<h2>H2</h2>
<h3>H2</h3>
<h4>H2</h4>
<div class="row">
    <div class="col-xs-12 col-lg-2 color-primary-0">
        <h3>Primary 0</h3>
        <p>paragraph</p>
    </div>
    <div class="col-xs-12 col-lg-2 color-primary-1">
        <h3>Primary 1</h3>
        <p>paragraph</p>
    </div>
    <div class="col-xs-12 col-lg-2 color-primary-2">
        <h3>Primary 2</h3>
        <p>paragraph</p>
    </div>
    <div class="col-xs-12 col-lg-2 color-primary-3">
        <h3>Primary 3</h3>
        <p>paragraph</p>
    </div>
    <div class="col-xs-12 col-lg-2 color-primary-4">
        <h3>Primary 4</h3>
        <p>paragraph</p>
    </div>
    <div class="col-xs-12 col-lg-2 icon-color">
        <h3>Icon Color</h3>
        <p>paragraph</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-2 color-primary-0-inv">
        <h3>Primary 0 Inv</h3>
        <p>paragraph</p>
    </div>
    <div class="col-xs-12 col-lg-2 color-primary-1-inv">
        <h3>Primary 1 Inv</h3>
        <p>paragraph</p>
    </div>
    <div class="col-xs-12 col-lg-2 color-primary-2-inv">
        <h3>Primary 2 Inv</h3>
        <p>paragraph</p>
    </div>
    <div class="col-xs-12 col-lg-2 color-primary-3-inv">
        <h3>Primary 3 Inv</h3>
        <p>paragraph</p>
    </div>
    <div class="col-xs-12 col-lg-2 color-primary-4-inv">
        <h3>Primary 4 Inv</h3>
        <p>paragraph</p>
    </div>
    <div class="col-xs-12 col-lg-2 icon-color-inv">
        <h3>Icon Color Inv</h3>
        <p>paragraph</p>
    </div>
</div>
@section Styles {
    <link rel="stylesheet" href="~/css/skyserver.css" />
}
