
@{
    Layout = "/Views/Shared/_VisualToolsLayout.cshtml";
    ViewData["Title"] = "Quick Look";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/skyserver.css" />
}
<h1>@ViewData["Title"]</h1>
@section Scripts {
}